/*  VARIABLES  */
/*  FONTS  */
/* heading */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@font-face {
  font-family: 'roberta';
  src: url("fonts/roberta.woff2") format("woff2"), url("fonts/roberta.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* sub header */
/* body */
/*  GLOBAL RESETS  */
body, p, table, tr, td, ul, ol, li, dl, dd, dt, div, span, a, h1, h2, h3, h4, h5, h6, fieldset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

a img {
  border: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

:focus {
  outline: 0 none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: none; }

ul li {
  list-style: none; }

/* GLOBAL */
html {
  background: url("img/backgroundPink.jpg") #FAF3E1;
  background-size: 2000px;
  font-size: 10px; }
  @media screen and (min-width: 1400px) {
    html {
      font-size: 12px; } }
body {
  background: url("img/background.jpg") #FAF3E1;
  background-size: 2000px;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.034), 0 0.4rem 0.5rem rgba(0, 0, 0, 0.048), 0 0.1rem 1rem rgba(0, 0, 0, 0.06);
  margin: 2rem;
  border-radius: .4rem;
  font: 1.8rem/2.4rem 'Courier Prime', monospace;
  color: rgba(43, 52, 80, 0.8);
  -webkit-font-smoothing: antialiased; }
  @media screen and (max-width: 767px) {
    body {
      margin: 1rem; } }
p {
  margin-top: 2rem; }
  p.noPad {
    margin-top: 0; }
  @media screen and (max-width: 767px) {
    p {
      font-size: 1.4rem;
      line-height: 1.8rem; } }
a {
  color: #C51B0E; }
  a:hover {
    text-decoration: underline; }

ul.list {
  padding-top: .5rem;
  padding-left: 4rem; }
  ul.list li {
    list-style: circle; }

h2 {
  font: 5rem/5rem 'roberta', sans-serif;
  position: relative;
  color: rgba(41, 67, 128, 0.88); }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 3.2rem;
      line-height: 3.5rem; } }
h3 {
  font: 2.6rem/2.6rem 'Ubuntu Mono', monospace;
  color: #D68B77; }
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 2rem;
      line-height: 2rem; } }
img {
  border-radius: .4rem; }

/* GRID */
header {
  padding: 4rem;
  max-width: 110rem; }
  @media screen and (max-width: 767px) {
    header {
      padding: 2rem; } }
  header .col2 {
    display: grid;
    grid-template-columns: 1sfr auto;
    gap: 4rem;
    white-space: nowrap; }
    @media screen and (max-width: 1100px) {
      header .col2 {
        grid-template: auto auto / 1fr; } }
  header .row2 {
    display: grid;
    white-space: normal; }
    header .row2 p {
      margin-top: 1rem;
      max-width: 80rem; }
  header img {
    width: 100%;
    -webkit-align-content: center;
            align-content: center; }

section {
  display: grid;
  padding: 4rem;
  max-width: 114rem; }
  @media screen and (max-width: 767px) {
    section {
      padding: 2rem; } }
/*  PAGE STYLES  */
.imgZoom {
  width: 95%;
  max-width: 100rem;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 1rem solid white;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    .imgZoom {
      border-width: .4rem;
      width: 90%; } }
  .imgZoom.vert {
    width: 35%;
    margin-right: 3%; }
  .imgZoom img {
    width: 100%;
    -webkit-animation: scaleImage 30s ease-in-out infinite;
            animation: scaleImage 30s ease-in-out infinite; }
    .imgZoom img.alt {
      -webkit-animation: scaleImage2 40s ease-in-out infinite;
              animation: scaleImage2 40s ease-in-out infinite; }
