doctype html
html

  head
    link(href='/styles.css', type='text/css', rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    
    title Hayley + Layton's Wedding

  body
    header
        h2 Hayley and Layton are Getting Hitched!
        .col2
            div
              h3 October 30, 2021 #[br] Comfort, TX
              p We're so excited to celebrate with y'all! Ceremony and festivities in the spirit of South and West. 
              p We hope you can join us for the weekend!
            .row2
              img.headerImg(src='img/grandCanyonCropped2.jpg', srcset='img/grandCanyonCropped2.jpg 2x')
                
    section
        h2 About Comfort, Texas
        .col2
          p A Hill Country gem operating at a different speed. Founded by German freethinkers in the 1850s, Comfort remains an independent, unincorporated community to this day. The town draws treasure hunters, entrepreneurs, and a wide range of residents seeking a slower pace in Texas' famed Hill Country. River floats, wine-tasting, antiques, and wildlife all within reach.
          figure.u3
            img(src='img/first.jpg', srcset='img/first.jpg 2x')
            figcaption Our first selfie - 2015
            
    section
        h2 Where to Stay
        .col2
          .text
            p #[a(href='https://www.meyerinn.com/Accommodations/index.html' target='_blank') The Meyer Inn!] This historic inn is steps away from the heart of Comfort--and, conveniently, all the events for the weekend. We have set aside a block of rooms for you fine folks--creekside, poolside, and captain's quarters. For more information, please visit their #[a(href='https://www.meyerinn.com/Accommodations/index.html' target='_blank') website] and call to book: (877) 836-1725.
            p There are also some lovely properties on Airbnb that can accommodate larger groups and those looking to share celebratory space for the weekend!
          figure.u3
            img(src='img/ursa.jpg', srcset='img/ursa.jpg 2x')
            figcaption First trip in Ursa the van - 2020
            
    section
        h2 How to Get Here
        .col2
          .text
            p San Antonio or Austin are the nearest airports. Austin is a little bigger and may have more direct flights (plus Jos Coffee) but San Antonio is a little easier to drive from.
            h3 From San Antonio
            i Around 45 minutes travel time.
            p.noPad Follow I-10 West; Take exit 524 (Comfort exit). Proceed straight ahead from the exit and stay to the left when the road forks. Take a left on 8th St, then the first right onto High St. 

            h3 From Austin
            i Around 1 hour 45 minutes travel time.
            p.noPad Leave the city on Highway 290 West. In Henly, take a left onto Highway  165 West. In Blanco, take a left onto Highway 281 South. Take a right onto Highway 473 West and follow that road into Comfort. Once in Comfort, take a left onto 6th St (which is the first left after crossing over Business Rd 87). Follow 6th St. for two blocks and take a left onto High St. 
          figure.u8
            img(src='img/travel2.jpg', srcset='img/travel2.jpg 2x')
            figcaption Sailing on Esperanza - 2016

    section
        h2 Schedule of Events
        .col2
          .text
            p This will be a full weekend affair. Get some.
            
            h3 Friday 10/29
            i Welcome Supper
            p.noPad Join us for a casual evening at local favorite Comfort Pizza. Meet and greet over wood-fired pies and local beverages. Starting at 5:00p. 
            
            h3 Saturday, October 30
            i Wedding!
            p.noPad Guests to arrive at the Ingenhuett around 5:00p for a cocktail in the courtyard. Ceremony to start at golden hour--around 5:30p. Dinner, drinks, and dancing to follow. After hours rendezvous at the Meet Market across the street.          
            
            h3 Sunday, October 31 👻
            i Halloween Brunch!
            p.noPad photo of La Catrina
            p Lite fare, Layton's famous bloody marys, and one last chance to hang and hug before we slowly make our way back to our respective realities. Costumes encouraged. 
          figure.u8
            img(src='img/mort.jpg', srcset='img/mort.jpg 2x')
            figcaption Halloween - 2016? 

    footer
      img(src='img/footer.jpg', srcset='img/footer.jpg 2x')