doctype html
html

  head
    link(href='/styles.css', type='text/css', rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    
    title Hayley + Layton's Wedding

  body
    section.noBack
        header
            h2 Hayley and Layton are Getting Hitched!
            .col2
                div
                    h3 October 30, 2021 #[br] Comfort, TX
                    p We’re so excited to celebrate with y’all! Ceremony and festivities in the spirit of South and West. 
                    p We hope you can join us for the weekend! More details to follow very soon.
                .row2
                    img.headerImg(src='img/grandCanyonCropped3.jpg', srcset='img/grandCanyonCropped2.jpg 2x')

