doctype html
html

  head
    link(href='/styles.css', type='text/css', rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5')
    
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-XSD4FM2YQK')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XSD4FM2YQK');
    
    title Hayley + Layton's Wedding

  body
    header
        h2 Hayley and Layton are Getting Hitched!
        .content
            h3 October 30, 2021 #[br] Comfort, TX
            .text
              p We're so excited to celebrate with y'all! Ceremony and festivities in the spirit of #[i South and West]. 
              p We hope you can join us for the weekend!
            .img
                
    section
        h2 Schedule of Events
        .content
          .text
            p The wedding weekend will begin with an early supper on Friday evening and wrap up with a Halloween brunch on Sunday.      
            h3 Welcome Supper
            i Friday, October 29th
            p Join us for a casual evening at local favorite Comfort Pizza. Meet and greet over wood-fired pies and local beverages. Starting at 5:00pm.
            h3 Wedding and Reception
            i Saturday, October 30th
            p Guests to arrive at the Ingenhuett at 5:00p for a cocktail in the courtyard. Ceremony to start at golden hour--around 5:30p. Dinner, drinks, and dancing to follow. After hours rendezvous at the Meet Market across the street.
            h3 Halloween Brunch
            i Sunday, October 31st
            p Lite fare, good coffee, and one last chance to hang before we slowly make our way back to our respective realities. Costumes encouraged. 
          
          .images
            figure
              img(src='img/first.jpg', srcset='img/first.jpg 2x')
              figcaption Our first selfie - 2015
            figure.about
              img(src='img/meetMarket.jpg', srcset='img/meetMarket.jpg 2x')
              figcaption Meet Market in Comfort - 2021
            
    section
        h2 Where to Stay
        .content
          .text
            p #[a(href='https://www.meyerinn.com/Accommodations/index.html' target='_blank') The Meyer Inn!] This quaint time-capsuled inn is steps away from the heart of Comfort and, conveniently, all festivities for the weekend. We have set aside a block of rooms for you fine folks. To reserve, please #[a(href='https://resnexus.com/resnexus/reservations/group/B93F3C52-FEDF-42E5-9E72-61DF04A9D120?GID=903da52f-3f6b-4212-b580-c03adbd150f6' target='_blank') go here] or call (877) 836-1725. 
            p Also, the #[a(href='https://thefrenchcow1922.com/accommodations-french-cow-bb/' target='_blank') French Cow Bed and Breakfast] is a three minute saunter from all events and has a variety of accommodations.
            p There are a handful of lovely properties on Airbnb/VRBO that can accommodate larger groups and those looking to share celebratory space for the weekend! Our only recommendation would be: #[i stay central]. Comfort is tiny and best enjoyed on foot. 
          figure.u3
            img(src='img/ursa.jpg', srcset='img/ursa.jpg 2x')
            figcaption First trip in Ursa the van - 2020
            
    section
        h2 How to Get Here
        .content
          .text
            p If you're flying, San Antonio (SAT) and Austin (ATX) are the nearest airports. ATX is a little larger and may have more direct flights (and Jo&apos;s Coffee) but, what SAT is lacking in flight schedules and amenities, it makes up for in proximity. Choose your own adventure!
            h3 From San Antonio
            i Around 45 minutes travel time.
            p Follow I-10 West; Take exit 524 (Comfort exit). Proceed straight ahead from the exit and stay to the left when the road forks. Take a left on 8th St, then the first right onto High St. 

            h3 From Austin
            i Around 1 hour 45 minutes travel time.
            p Leave the city on Highway 290 West. In Henly, take a left onto Highway  165 West. In Blanco, take a left onto Highway 281 South. Take a right onto Highway 473 West and follow that road into Comfort. Once in Comfort, take a left onto 6th St (which is the first left after crossing over Business Rd 87). Follow 6th St. for two blocks and take a left onto High St. 
          figure.d8
            img(src='img/sailing.jpg', srcset='img/sailing.jpg 2x')
            figcaption Sailing on Esperanza - 2016

    section
        h2 About Comfort, Texas
        .content
          .text
            p A Hill Country gem operating at a different speed. Founded by German freethinkers in the 1850s, Comfort remains an independent, unincorporated community to this day. The town draws treasure hunters, entrepreneurs, and a unique mix of residents seeking a slower pace in Texas's famed Hill Country. River floats, wine-tasting, antiques, and wildlife all within reach. We're excited to share this treasured town with y'all! Here are a few of our favorite spots:
            h3 In town
            p.noPad #[a(href='https://the8thstreetmarket.com' target='_blank') The 8th Street Market] - Enjoy a cup of local Merit coffee while you browse carefully curated antiques and architectural salvage. 
            p #[a(href='https://www.highscafeandstore.com/#comfort-food-for-you' target='_blank') High's Cafe] - Fresh lunch fare, a favorite of the Mother of the Groom!
            p #[a(href='https://www.wanderncalf.com' target='_blank') Wander'n Calf] - House-roasted coffee & scratch bakery.
            p #[a(href='https://www.facebook.com/The-Comfort-Meet-Market-210762872315803' target='_blank') Meet Market] - Local watering hole with an impressive amount of Beatles memorabilia.
            h3 Further out
            p.noPad #[a(href='https://southoldfarmandcellar.com' target='_blank') Southold Wine + Cellar] - #[i Fredericksburg] - A favorite destination for natural wines, local snacks, and panoramic vistas.
            p #[a(href='https://wineforthepeople.com/' target='_blank') Wine for the People] and #[a(href='https://www.instagram.com/brucieatx/?hl=en' target='_blank') Brucie] - #[i Austin] - Excellent tasting room for local wines, and home of new food truck favorite Brucie!
            p #[i Johnson City, Fredericksburg, Boerne,] and #[i Kerrville] - other lovely Hill Country towns worth exploring!
          figure.u12
            img(src='img/peaking.jpg', srcset='img/peaking.jpg 2x')
            figcaption First day as Texans - 2020


    section
        h2 Et cetera
        .content
          .text
            p Attire for the wedding is fun semi-formal. Weather permitting, the ceremony will take place outside in the back of the Ingenhuett. The property is grassy and a little uneven, so you may want to keep that in mind when selecting shoes. We want everyone to feel festive in whatever they’re comfortable in.
            p To allow all guests to relax and enjoy themselves, we ask that the events be adults only.
            p Your presence is present enough, seriously! But, if you insist, we are registered through #[a(href='https://www.zola.com/registry/hayleyandlayton/edit' target='_blank') Zola].

    footer