/*  VARIABLES  */
$background:    #FAF3E1;
$textColor:     rgba(43, 52, 80, .8);
$navy:          rgba(41, 67, 128, .88);
$peach:         #D68B77;

$xs-max:      767px;
$l-max:       1100px;
$xl-min:      1400px;

/*  FONTS  */

/* heading */
@font-face {
    font-family: 'roberta';
    src: url('fonts/roberta.woff2') format('woff2'),
         url('fonts/roberta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* sub header */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* body */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


/*  GLOBAL RESETS  */
body, p, table, tr, td, ul, ol, li, dl, dd, dt, div, span, a, h1, h2, h3, h4, h5, h6, fieldset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

a img {
  border: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

:focus {
  outline: 0 none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: none; }

ul li {
  list-style: none; }


/* GLOBAL */
html {
  background: url('img/background.jpg') $background;
  background-size: 167rem;
  font-size: 10px;
  @media screen and (max-width: $xs-max) {
    background: url('img/backgroundMobile.jpg') $background;
    background-size: 767px;
  }
  // bump everything larger if xl screen
  @media screen and (min-width: $xl-min) {
    font-size: 12px;
  }
}
body {
  font: 1.7rem/2.2rem 'Courier Prime', monospace;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  border: .2rem $peach solid;
  margin: 1.4rem;
  min-height: calc(100vh - 3.4rem);
}
p {
  margin-top: 2rem;
  &.noPad {
    margin-top: 0;
  }
  @media screen and (max-width: $xs-max) {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}
a {
  color: $peach;
  text-decoration: underline;
  cursor: pointer;
}
ul.list {
  padding-top: .5rem;
  padding-left: 4rem;
  li {
    list-style: circle;
  }
}
h2 {
  font: 5rem/5rem 'roberta', sans-serif;
  position: relative;
  color: $navy;
  @media screen and (max-width: $xs-max) {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
}
h3 {
  font: 2.2rem/2.4rem 'Ubuntu Mono', monospace;
  color: $peach;
  white-space: nowrap;
  margin: 3rem 0 .3rem;
  @media screen and (max-width: $xs-max) {
      font-size: 2rem;
      line-height: 2rem;
  }
}
img {
  align-content: center;
  @media screen and (max-width: $l-max) {
    width: auto;
  }
  @media screen and (max-width: $xs-max) {
    max-width: 100%;
  }
}


/* CONTENT BLOCKS */
header {
  padding: 4rem;
  h3 {
    margin: 0;
  }
  .content {
    grid-template-columns: 1fr 2.8fr;
    grid-template-rows: auto 1fr;
    gap: 0 2rem;
    .text {
      grid-column-start: 1;
      max-width: 70rem;
    }
    @media screen and (max-width: $l-max) {
      grid-template: auto auto auto / 1fr;
    }
  }
  .img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2; 
    background: url('img/grandCanyon.jpg');
    background-size: cover;
    background-position: center;
    height: 32rem;
    margin-top: -1.7rem;
    @media screen and (max-width: $l-max) {
      margin-top: 2rem;
      grid-column-start: 1; 
      grid-row-start: 2;
      grid-row-end: 3;         
    }
    @media screen and (max-width: 600px) {
      background-image: url('img/grandCanyonMobile.jpg');
      
    }
  }
  @media screen and (max-width: $xs-max) {
    padding: 2rem;
  }
}

section {
  padding: 4rem;
  @media screen and (max-width: $xs-max) {
    padding: 2rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8rem;
  @media screen and (max-width: $l-max) {
    grid-template: auto auto / 1fr;
    .u3, .u6, .u8, .u12, .d8 {
      margin-block-start: 0;
    }
  }
}

figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
  &.u3 {
    margin-block-start: -3rem;
  }
  &.u6 {
    margin-block-start: -6rem;
  }
  &.u8 {
    margin-block-start: -8rem;
  }
  &.u12 {
    margin-block-start: -12rem;
  }
  &.d8 {
    margin-block-start: 8rem;
  }
  figcaption {
    font-style: italic;
    color: $navy;
    margin-block-start: -.6rem;
    @media screen and (max-width: $xs-max) {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
}


/* UNIQUE SECTION STYLES */
.images {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  gap: 0;
  @media screen and (max-width: $l-max) {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0 2rem;
  }
  .about {
    grid-column-start: 1;
    grid-row-start: 2;   
    @media screen and (min-width: $xl-min) {
      grid-column-start: 2;
      grid-row-start: 2;
      margin-left: -11rem;
      margin-top: -6rem;
    }
    @media screen and (max-width: $l-max) {
      grid-column-start: 2;
      grid-row-start: 1;
    }
    @media screen and (max-width: $xs-max) {
      grid-column-start: 1;
      grid-row-start: 2;
    }     
  }
}

footer {
  background: url('img/footer.jpg') no-repeat;
  height: 31rem;
  background-size: contain;
  background-position: center bottom;
}

header,
section,
footer {
  max-width: 120rem;
  margin: auto;
}
