/*  VARIABLES  */
$background:    #FAF3E1;
$textColor:     rgba(43, 52, 80, .8);
$navy:          rgba(41, 67, 128, .88);
$peach:         #D68B77;

$linen:       #9B9B9B;
$red:         #C51B0E;
$indigo:      #40465A;
$ink:         #000000;
$xs-max:      767px;
$l-max:       1100px;
$xl-min:      1400px;

/*  FONTS  */

/* heading */
@font-face {
    font-family: 'roberta';
    src: url('fonts/roberta.woff2') format('woff2'),
         url('fonts/roberta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* sub header */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* body */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


/*  GLOBAL RESETS  */
body, p, table, tr, td, ul, ol, li, dl, dd, dt, div, span, a, h1, h2, h3, h4, h5, h6, fieldset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

a img {
  border: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

:focus {
  outline: 0 none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  border: none; }

ul li {
  list-style: none; }


/* GLOBAL */
html {
  background: url('img/background.jpg') $background;
  background-size: 2000px;
//  background: url('img/backgroundPink.jpg') $background;
  background-size: 2000px;
  font-size: 10px;
  // bump everything larger if xl screen
  @media screen and (min-width: $xl-min) {
    font-size: 12px;
  }
}
body {
  font: 1.6rem/2.2rem 'Courier Prime', monospace;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  border: .2rem $peach solid;
  margin: 1.4rem;
}
p {
  margin-top: 2rem;
  &.noPad {
    margin-top: 0;
  }
  @media screen and (max-width: $xs-max) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
a {
  color: $red;
  &:hover {
    text-decoration: underline;
  }
}
ul.list {
  padding-top: .5rem;
  padding-left: 4rem;
  li {
    list-style: circle;
  }
}
h2 {
  font: 5rem/5rem 'roberta', sans-serif;
  position: relative;
  color: $navy;
  @media screen and (max-width: $xs-max) {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
}
h3 {
    font: 2.2rem/2.4rem 'Ubuntu Mono', monospace;
    color: $peach;
    white-space: nowrap;
    @media screen and (max-width: $xs-max) {
        font-size: 2rem;
        line-height: 2rem;
    }
}
img {
    border-radius: .4rem;
}

/* GRID */
header {
    .col2 {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 2rem;
        @media screen and (max-width: $l-max) {
            grid-template: auto auto / 1fr;
        }
    }
    .row2 {
        display: grid;
        white-space: normal;
        margin-top: -2rem;
        p {
            margin-top: 1rem;
            max-width: 80rem;
        }
    }
    img {
        width: 100%;
        align-content: center;
    }
}

section {
  padding: 4rem;
  @media screen and (max-width: $xs-max) {
    padding: 2rem;
    margin: 1rem;
  }
}


/*  PAGE STYLES  */
.imgZoom {
  width: 95%;
  max-width: 100rem;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 1rem solid white;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
  box-sizing: border-box;
  z-index: 1;
  @media screen and (max-width: $xs-max) {
    border-width: .4rem;
    width: 90%;
  }
  &.vert {
    width: 35%;
    margin-right: 3%;
    
  }
  img {
    width: 100%;
    animation: scaleImage 30s ease-in-out infinite;
    &.alt {
      animation: scaleImage2 40s ease-in-out infinite;
    }
  }
}